.DS_Store
*.swp
*~.nib

*/DerivedData/
build/osx/DerivedData

.svn

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.user
xcuserdata

vc10/debug/
vc10/release/
vc10/*.opensdf
vc10/ipch/

*.suo
*.ncb
*.sdf
Debug/
Release/